.red-btn.highlight{
    background-color: red;
}

.green-btn.highlight{
    background-color: green;
}

.yellow-btn.highlight{
    background-color: yellow;
}

.blue-btn.highlight{
    background-color: blue;
}