.game-board{
    display: grid;
    grid-template-columns: 1fr 1fr;

    button{
        display: flex;
        padding: 0;
        background: none;
        border: none;
    }
    
    img{
        max-height: 200px;
        max-width: 200px;
    }

}

.red-btn {
    justify-content: end;
    &.highlight img{
        opacity: 0.4;
        // background-color: $red;
    }
}

.green-btn {
    &.highlight img{
        opacity: 0.4;
        // background-color: $green;
    }
}

.yellow-btn {
    &.highlight img{
        opacity: 0.4;
        // background-color: $yellow;
    }
}

.blue-btn {
    justify-content: end;
    &.highlight img{
        opacity: 0.4;
        // background-color: $blue;
    }
}