.game-board{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    button{
        display: flex;
        padding: 0;
        background: none;
        border: none;
    }
    
    img{
        max-height: 200px;
        max-width: 200px;
    }

    .modal{
        z-index: 1;
        position: fixed;
        // margin: auto 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: gray;
        padding: 10px;
        border: 1px solid white;
        border-radius: 5px;
        box-shadow: 0px 4px 6px 1px #00000066;
        margin: 20%;
        inset: 0;
        button{
            background-color: $almost-white;
            padding: 5px;
            border-radius: 2px;
        }
    }

}

.red-btn {
    justify-content: end;
    &.highlight img{
        opacity: 0.4;
        // background-color: $red;
    }
}

.green-btn {
    &.highlight img{
        opacity: 0.4;
        // background-color: $green;
    }
}

.yellow-btn {
    &.highlight img{
        opacity: 0.4;
        // background-color: $yellow;
    }
}

.blue-btn {
    justify-content: end;
    &.highlight img{
        opacity: 0.4;
        // background-color: $blue;
    }
}