.game{
    display: flex;
    flex-direction: column;
    padding: $base-padding;
    width: 100vw;
    height: 100vh;
    @include background-img("../../imgs/bg2.jpeg");
    color: $almost-black;

    .score{
        font-size: 1.5rem;
    }
    
    .quit-btn{
        align-self: end;
        color: $almost-black;
        &:hover{
            opacity: 0.8;
        }
        // background: $almost-white;
        // color: $almost-black;
        // border-radius: 5px;
        // padding: 2px 5px;
    }
}