// Colors
$blue: rgba(0, 0, 255, 0.1);
$green: rgba(0, 128, 0, 0.1);
$red: rgba(255, 0, 0, 0.1);
$yellow: rgba(255, 255, 0, 0.1);
$almost-white: rgba(255, 255, 255, 0.852);
$almost-black: rgba(0, 0, 0, 0.821);

// Padding
$base-padding: 20px;